@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 4px;
}

.cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 100%;
  height: 100%;
  font-size: 2em;
  border: 2px solid black;
  background-color: yellow;
  cursor: pointer;
}

.cell:hover {
  background-color: #d85e5e;
  color: white;
}

.status {
  margin-top: 10px;
  font-size: 1.5em;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh; 
  background-color: #272685; 
}

.animated-text {
  animation: fadeIn 1s ease-in-out; 
  font-size: 40px;
  font-family: cursive;
  color: black;
  background-color: rgb(226, 226, 152);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: rgb(226, 226, 152);
  padding: 10px;
}

.links {
  display: flex;
  color: black;
  font-size: 15px;
}


.links > :not(:last-child) {
  margin-right: 20px;
}

.title {
  color: #e9e2e2; 
  font-size: 24px;
}